<footer>
    <div class="foot">
        <h4>A hope for better Education </h4>
        <a href="https://www.facebook.com/umeedrecsonbhadra/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/umeed_recs/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@umeed3124"><i class="fa-brands fa-youtube"></i></a>
        
        


        
    </div>
</footer>
<!-- <script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("myhomebar");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script> -->


<!-- <script>
    // function([string1, string2],target id,[color1,color2])    
consoleText(['UMEED'], 'text',['rebeccapurple']);

function consoleText(words, id, colors) {
  if (colors === undefined) colors = ['#fff'];
  var visible = true;
  var con = document.getElementById('console');
  var letterCount = 1;
  var x = 1;
  var waiting = false;
  var target = document.getElementById(id)
  target.setAttribute('style', 'color:' + colors[0])
  window.setInterval(function() {

    if (letterCount === 0 && waiting === false) {
      waiting = true;
      target.innerHTML = words[0].substring(0, letterCount)
      window.setTimeout(function() {
        var usedColor = colors.shift();
        colors.push(usedColor);
        var usedWord = words.shift();
        words.push(usedWord);
        x = 1;
        target.setAttribute('style', 'color:' + colors[0])
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (letterCount === words[0].length + 1 && waiting === false) {
      waiting = true;
      window.setTimeout(function() {
        x = -1;
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (waiting === false) {
      target.innerHTML = words[0].substring(0, letterCount)
      letterCount += x;
    }
  }, 120)
  window.setInterval(function() {
    if (visible === true) {
      con.className = 'console-underscore hidden'
      visible = false;

    } else {
      con.className = 'console-underscore'

      visible = true;
    }
  }, 400)
}
</script> -->
<script src="/javascript/text.js"></script>
<script src="/javascript/map.js"></script>
</body>
</html>