

<%- include('partials/header') -%>




<div class="about-us">
    <div class="about-text">ABOUT US

    </div>
    <div class="about-content"><p>Umeed started in August 2017 by a couple of passionate students with an aim to provide education to the underprivileged and marginalized children living nearby the locality of REC Sonbhadra. The community conducts regular evening classes for students of class 1st to class 12th, about two hours where the emphasis is to provide education to them. Presently, these classes are being held in Primary School, Musahi (Churk). Apart from providing basic education, volunteers also strive to inculcate some moral and social values in children, enabling them to evolve as a responsible citizen in future, bringing a remarkable difference in the lives of others. The team receives continuous support from students, faculties and other staffs of college who are equally contributing towards its development and sustainability. Financially supported by S.G.C.A. REC Sonbhadra. Throughout the year this community organizes competition, prize distribution ceremony and other functions where Umeed students participate in dancing and singing. In this competitive era volunteers also help these students in the preparation of different competitive exams such as N.V and Sainik School, C.H.S., Science and Olympiad. The number of students who are being taught here ,has raised from 20 to 150. Further, the team, This community is also planning for providing education to physically challenged students in future.</p></div>



    <div class="vision">
        <div class="vision-text about-text">VISION</div>
        <div class="vision-content about-content"><p>At the coaching section established by the engineering students of REC Sonbhadra, we envision a future where education is a beacon of hope and opportunity, accessible to every child regardless of socio-economic background. Our vision is to empower underprivileged children through quality education, unlocking their full potential and fostering a community where knowledge is a catalyst for positive change. We aspire to create a world where every young mind has the tools and confidence to dream big, aspire higher, and contribute meaningfully to society</p></div>
    </div>
    <div class="mission">
        <div class="mission-text about-text">MISSION</div>
        <div class="mission-content about-content"><p>Our mission is to bridge educational gaps and break down barriers by providing free and accessible coaching to underprivileged children. Through the expertise and dedication of our engineering student volunteers, we commit to delivering high-quality education that not only supplements academic learning but also nurtures personal growth and character development. We strive to create a supportive learning environment that fosters curiosity, creativity, and critical thinking.

            We are dedicated to:
            
            Inclusivity: Ensuring that no child is left behind, irrespective of their financial background.
            
            Quality Education: Providing coaching that meets the highest standards, preparing students for academic excellence and practical application of knowledge.
            
            Holistic Development: Focusing on the overall development of each child, fostering skills beyond academics, including leadership, teamwork, and resilience.
            
            Community Engagement: Collaborating with the local community to create a network of support for the educational advancement of underprivileged children.
            
            Sustainability: Building a self-sustaining model that can continue to impact lives positively over the long term.
            
            Through these efforts, we aim to contribute to the building of a more equitable society where education is a fundamental right, not a privilege. Our mission is fueled by the belief that education is the key to breaking the cycle of poverty and empowering individuals to shape their own destinies.</div>
    </div>
</div>





<%- include('partials/footer') -%>