<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/public/photos/umeed_logo.png">
    
    <link rel="stylesheet" href="">
    <title>Umeed/about</title>
</head>
<body>
    <header>
        <div class="header" id="myheader">
            <div class="firstquote"><h4>Better way of Education </h4></div>
            <form action="/" method="post">
                
               
            </form>
            <div class="headerlogo">
                <div class="umeed_logo logo"><img src="/public/photos/umeed_logo.png" alt=""></div>
                <div class="welcome_quote">
                
                <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'></div></div>
                <div class="slogan">A Hope For Better Education</div>
            </div>
                <div class="rec_logo logo"><img src="/public/photos/rec_logo.png" alt=""></div>
            </div>


         







            <div class="homebar" id="myhomebar">
                <div class="inhomebar home"><a href="index.html">Home</a></div>

                <div class="inhomebar academics"><a href="educators.html">Academics</a></div>
                <div class="inhomebar achievement"><a href="/achivement">Achievement</a></div>
                <div class="inhomebar facility"><a href="facility">Facility</a></div>
                <div class="inhomebar contact"><a href="contact.html">Contact Us</a></div>
                <div class="inhomebar about"><a href="about.html">About</a></div>
            </div>
        </div>



    </header>






    
    <footer>
        <div class="foot">
            <h4>A hope for better Education </h4>
            <a href="https://www.facebook.com/umeedrecsonbhadra/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/umeed_recs/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@umeed3124"><i class="fa-brands fa-youtube"></i></a>
            
            


            
        </div>
    </footer> -->

    <!-- <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myheader");
        var sticky = header.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script> -->
<!-- <script src="text.js"></script>
</body>
</html> -->

<%- include('partials/header') -%>




<div class="about-us">
    <div class="about-text">ABOUT US

    </div>
    <div class="about-content"><p>Umeed started in August 2017 by a couple of passionate students with an aim to provide education to the underprivileged and marginalized children living nearby the locality of REC Sonbhadra. The community conducts regular evening classes for students of class 1st to class 12th, about two hours where the emphasis is to provide education to them. Presently, these classes are being held in Primary School, Musahi (Churk). Apart from providing basic education, volunteers also strive to inculcate some moral and social values in children, enabling them to evolve as a responsible citizen in future, bringing a remarkable difference in the lives of others. The team receives continuous support from students, faculties and other staffs of college who are equally contributing towards its development and sustainability. Financially supported by S.G.C.A. REC Sonbhadra. Throughout the year this community organizes competition, prize distribution ceremony and other functions where Umeed students participate in dancing and singing. In this competitive era volunteers also help these students in the preparation of different competitive exams such as N.V and Sainik School, C.H.S., Science and Olympiad. The number of students who are being taught here ,has raised from 20 to 150. Further, the team, This community is also planning for providing education to physically challenged students in future.</p></div>



    <div class="vision">
        <div class="vision-text about-text">VISION</div>
        <div class="vision-content about-content"><p>Our vision is to provide education and spread happiness to underprivileged students living nearby the college campus.</p></div>
    </div>
    <div class="mission">
        <div class="mission-text about-text">MISSION</div>
        <div class="mission-content about-content"><p>1. To inculcate the ethical value through setting up the best practices.

            <p>2. To improve the overall analytical skills for betterment of the society.</p>
            
            <p>3. To make them self development and develop the entrepreneur skill them.</p>
            <p>4. To enhance the overall personality development of the each individuals by introducing the latest available tool/Technology.</p>
            </p></div>
    </div>
</div>





<%- include('partials/footer') -%>