<%- include('partials/header') -%>

<div class="academicheading">
    <p>Academic program</p>
</div>

<div class="academicsimg">
    <img src="/photos/achievement.jpg" alt="">

    <p>Umeed, established in August 2017 by passionate students, aims to provide education to underprivileged children near REC Sonbhadra. Conducting regular evening classes for students from class 1 to 12 in Ambedkar Bhavan, the emphasis is on basic education and instilling moral and social values. Supported by volunteers, faculty, and staff of REC Sonbhadra, the initiative is financially backed by S.G.C.A. REC Sonbhadra. Umeed organizes events, competitions, and functions, fostering holistic development. Volunteers also aid students in competitive exam preparation. The community has grown from teaching 20 to 150 students and plans to extend education to physically challenged students in the future.









    </p>
</div>

<%- include('partials/footer') -%>