<%- include('partials/header') -%>
<!-- <div class="achievement-head-1 ah">Latest News</div>
<div class="achievement-slidebox-1">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/photos/achi-latest-1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/photos/achi-latest-2.jpeg" class="d-block w-100" alt="...">
          </div>
          
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> -->
<div class="latestnews">
  <p class="ln">Latest news</p>
  <div class="latestbox">
    <img src="/photos/achieve/achieve1.jpeg" alt="">
    <div class="latestboxcontent">
      <p>
        Two bright students from Umeed, Akanksha and Abhishek, have achieved commendable success by securing admissions to Rajkiya Engineering College Sonbhadra for the 2022-23 batch. Akanksha has been selected for the electrical branch, showcasing her expertise in the field, while Abhishek has earned a place in the electronics branch. This accomplishment reflects the dedication and academic excellence fostered by Umeed Coaching Institution. Congratulations to Akanksha and Abhishek on their well-deserved achievements</p>
    </div>

  </div>
  <div class="latestbox">
    <img src="/photos/achieve/achieve2.jpeg" alt="">
    <div class="latestboxcontent">
      <p>Celebrating success, Umeed's student Roshni from the 2022-23 batch has secured admission to Government Polytechnic College, showcasing academic excellence in polytechnic studies. Roshni's achievement is a testament to the quality education and guidance provided by Umeed Coaching Institution, empowering students to excel in their chosen fields. Congratulations to Roshni and all Umeed students who have demonstrated exceptional performance in the polytechnic examinations!</p>
    </div>

  </div>
  <div class="latestbox">
    <img src="/photos/achieve/achieve3.jpg" alt="">
    <img src="/photos/achieve/achieve4.jpg" alt="">


  </div>
</div>





<%- include('partials/footer') -%>