<%- include('partials/header') -%>

<div class="childrenbox">
    <p>Umeed Student</p>
    <div class="childrenimg">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qTRABdi6SmU?si=JFyaNr5wPN4Fatk3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/7HxvXNSs4j4?si=_UEnyqy9qNjmSC_S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <img src="/photos/chilldren/child1.jpg" alt="">
        <img src="/photos/chilldren/child2.jpg" alt="">
        <img src="/photos/chilldren/child3.jpg" alt="">
        <img src="/photos/chilldren/child4.jpg" alt="">
        <img src="/photos/chilldren/child5.jpg" alt="">
        <img src="/photos/chilldren/child6.jpg" alt="">
        <img src="/photos/chilldren/child7.jpg" alt="">
        <img src="/photos/chilldren/child8.jpg" alt="">
        <img src="/photos/chilldren/child9.jpg" alt="">
        <img src="/photos/chilldren/child10.jpg" alt="">
        <img src="/photos/chilldren/childold.jpg" alt="">
        <img src="/photos/chilldren/childold2.jpg" alt="">
        <img src="/photos/chilldren/childold3.jpg" alt="">
        
    </div>

</div>



<%- include('partials/footer') -%>