<%- include('partials/header') -%>


<div class="classesmainbody">



    
<div class="classesheading">
    Our running Classes 
</div>
<div class="classesbody">
    <div class="classescard">
        <h3>Class 1st</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/1st-class.png" alt="">
        
        
    </div>
    <div class="classescard">
        <h3>Class 2nd</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/2nd-class.jpg" alt="">
        
        
    </div>
    <div class="classescard">
        <h3>Class 3rd</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/3rd-class.jpeg" alt="">
        
        
    </div>
    <div class="classescard">
        <h3>Class 4th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/4th-class.png" alt="">
        
        
    </div>
    <div class="classescard">
        <h3>Class 5th </h3>
        <h3>Total students</h3>
        <img src="/photos/classes/5th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class Jnv</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/jnv-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 6th </h3>
        <h3>Total students</h3>
        <img src="/photos/classes/6th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 7th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/7th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 8th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/8th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 8th CHS</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/chs-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 9th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/9th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 10th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/10th-image.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 11th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/11th-class.jpeg" alt="">
        
    </div>
    <div class="classescard">
        <h3>Class 12th</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/12th-class.png" alt="">
        
    </div>
    <div class="classescard">
        <h3>JEE Mains</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/jeemains-class.jpg" alt="">
        
    </div>
    <div class="classescard">
        <h3>Polytechnic</h3>
        <h3>Total students</h3>
        <img src="/photos/classes/polytechnic-class.jpeg" alt="">
        
    </div>
</div>
</div>
<%- include('partials/footer') -%>