
<%- include('partials/header') -%>



<div class="contact-page">

<div class="contact-us">
    <div class="director-card">

        
        <div class="director-card-name">Dr. Ravi Prakash Tripathi</div>
        <div class="director-card-post">
            <p>Umeed Director</p>
            <p>(HOD of Minning Engineering)</p>
        </div>
        <div class="director-card-contact">
            <div class="director-card-contact-phone">   <i class="fa-solid fa-phone"></i>     919889224685</div>
            <div class="director-card-contact-email">   <i class="fa-regular fa-envelope"></i>   priyanshukushwaha311@gmail.com</div>
        </div>
    </div>

    <div class="mentor-card director-card">

        <hr>
        <div class="mentor-card-name director-card-name">Suraj Prajapati</div>
        <div class="mentor-card-post director-card-post">
            <p>Mentor</p>
            <p><i class="fa-solid fa-graduation-cap"></i>   (Final year Electrical Engineering)</p>
        </div>
        <div class="mentor-card-contact director-card-contact">
            <div class="mentor-card-contact-phone director-card-contact-phone"><i class="fa-solid fa-phone"></i>  919889224685</div>
            <div class="mentor-card-contact-email director-card-contact-email"><i class="fa-regular fa-envelope"></i>   priyanshukushwaha311@gmail.com</div>
        </div>
    </div>

    
    <div class="educator-card director-card">

        <hr>
        <div class="educator-card-name director-card-name">Priyanshu Kushwaha</div>
        <div class="educator-card-post director-card-post">
            <p>Educator </p>
            <p><i class="fa-solid fa-graduation-cap"></i>  (3rd year Computer Science and Engineering)</p>
        </div>
        <div class="educator-card-contact director-card-contact">
            <div class="educator-card-contact-phone director-card-contact-phone"><i class="fa-solid fa-phone"></i>   919889224685</div>
            <div class="educator-card-contact-email director-card-contact-email"><i class="fa-regular fa-envelope"></i>   priyanshukushwaha311@gmail.com</div>
        </div>
    </div>

</div>

<div class="querry">
    <form method="post" action="/contact" class="form-querry">
        <h4>Write your querry</h4>
        <h3>Name</h3>
        <input type="text" name="querryInputName" class="querry-input-name-class" placeholder="Name">

        <h3>Email</h3>
        <input type="email" name="querryInputEmail" class="querry-input-email-class" placeholder="Email">

        <h3>Write Us</h3>
        <textarea name="querryWriteUs" id="querry-writeus-id" cols="30" rows="15" placeholder="Tell Your querry"> </textarea>
        <button type="submit" name="submit" value="submit"> Submit</button>
    </form>
</div>

</div>

<div class="mapbuild">
    <h2>Way to Umeed</h2>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3626.6072705068545!2d83.0823866039688!3d24.637217231347222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398ef11a2e983fc5%3A0xdcd38ca0f636dd0f!2sUmeed!5e0!3m2!1sen!2sin!4v1696625372658!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    
</div>






<%- include('partials/footer') -%>