<%- include('partials/header') -%>

<div class="currentpostbody">
    <div class="currentpostheading">
        Current post in Umeed for session 2023-24
    </div>

        <a href="https://drive.google.com/file/d/1Jm5CUcK8dV28nbGqGFl0jpKhNhAOc6GT/view?usp=sharing" target="_blank"><button class="currentpostbutton"> Click here to see or download</button> </a>
    
</div>

<%- include('partials/footer') -%>