
<%- include('partials/header') -%>

<div class="educators-details">

<!-- <button type="button" class="teacherdivcollapse">Batch 2019-20</button>

    <div class="teachers-collection">
        <div class="teachers-heading">
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name">Priyanshu Kushwaha</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>

                
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/deepak_img.jpeg" alt=""></div>
                <div class="card-name">Deepak Kumar Singh</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/abhishek_img.jpg" alt=""></div>
                <div class="card-name">Abhishek Kumar</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/sandeep-img.jpeg" alt=""></div>
                <div class="card-name">Sandeep Yadav</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><a href="https://drive.google.com/open?id=1msqoXcwQIXbtZZvvEsxSDCTGyEBMsqrj"></a></div>
                <div class="card-name">Abhishek Singh Patel</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                 <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name">Priyanshu Kushwaha</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div> 
            </div>
       
            <div class="teacher-card"></div>
        
        </div>
    
    
    

    </div>
    

 <button type="button" class="teacherdivcollapse">Batch 2020-21</button>

    <div class="teachers-collection">
        <div class="teachers-heading">
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name">Priyanshu Kushwaha</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>

                
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/deepak_img.jpeg" alt=""></div>
                <div class="card-name">Deepak Kumar Singh</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/abhishek_img.jpg" alt=""></div>
                <div class="card-name">Abhishek Kumar</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/sandeep-img.jpeg" alt=""></div>
                <div class="card-name">Sandeep Yadav</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name">Abhishek Singh Patel</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                 <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name">Priyanshu Kushwaha</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 3rd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div> 
            
        </div>
    
    
    

    </div>  -->
    

<button type="button" class="teacherdivcollapse">Batch 2021-22</button>

    <div class="teachers-collection">
        <div class="teachers-heading">
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/harshit22.jpg" alt=""></div>
                <div class="card-name">Harshit Kumar Kaushal</div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/priyanshupk78/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>

                
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/rahul22.jpg" alt=""></div>
                <div class="card-name">Rahul Maurya </div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/shivam22.jpg" alt=""></div>
                <div class="card-name">SHIVAM TRIPATHI </div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/suraj22.png" alt=""></div>
                <div class="card-name">Suraj Prajapati </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/praha22.jpg" alt=""></div>
                <div class="card-name">Praha Mishra </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/shreya22.jpg" alt=""></div>
                <div class="card-name">Shreya Tiwari  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/sandeep22.png" alt=""></div>
                <div class="card-name">Sandeep Jaiswal  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/nirupama22.jpg" alt=""></div>
                <div class="card-name">Nirupama Singh </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/laxmi22.jpg" alt=""></div>
                <div class="card-name">Laxmi Singh</div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/needhi22.jpg" alt=""></div>
                <div class="card-name">Nidhi Singh  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/pratibha22.jpg" alt=""></div>
                <div class="card-name">Pratibha Maurya  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/prakhar22.jpg" alt=""></div>
                <div class="card-name">Prakhar Katiyar  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/sneha22.jpg" alt=""></div>
                <div class="card-name">Sneha Dwivedi  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 4th Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            
            
    
    </div>
    

    </div>
    

<button type="button" class="teacherdivcollapse">Batch 2022-23</button>

<div class="teachers-collection">
    <div class="teachers-heading">
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/priyanshu.jpg" alt=""></div>
            <div class="card-name">Priyanshu Kushwaha</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/priyanshupk78/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>

            
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/deepak_img.jpeg" alt=""></div>
            <div class="card-name">Deepak Kumar Singh</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/abhishek_img.jpg" alt=""></div>
            <div class="card-name">Abhishek Kumar</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/sandeep-img.jpeg" alt=""></div>
            <div class="card-name">Sandeep Yadav</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/abhishek_patel.jpg" alt=""></div>
            <div class="card-name">Abhishek Singh Patel</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/prince.jpg" alt=""></div>
            <div class="card-name">Prince Dubey </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
   
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/rajat.jpg" alt=""></div>
            <div class="card-name">Rajat </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/shivangi.jpeg" alt=""></div>
            <div class="card-name">Shivangi Singh </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/kalendra.jpg" alt=""></div>
            <div class="card-name">Kalendra Kumar Singh </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="" alt=""></div>
            <div class="card-name">Sandhya Gupta </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/utkarsh_mishra.jpg" alt=""></div>
            <div class="card-name">Utkarsh Mishra </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/shubham.jpg" alt=""></div>
            <div class="card-name">Shubham Sharma </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/ritik.jpg" alt=""></div>
            <div class="card-name">Ritik Upadhyay </div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 3rd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        
    </div>




</div>

<button type="button" class="teacherdivcollapse">Batch 2023-24</button>

<div class="teachers-collection">
    <div class="teachers-heading">
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/shubhash24.jpeg" alt=""></div>
            <div class="card-name">Shubhash Chandra</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 2nd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/priyanshupk78/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>

            
        </div>
        <div class="teacher-card">
            <div class="card-photo"><img src="/photos/educators/kuldeep24.jpg" alt=""></div>
            <div class="card-name">Kuldeep Singh</div>
            <div class="card-about">Computer Science and Engineering</div>
            <div class="card-about">Currently in 2nd Year</div>
            <div class="card-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                <a href="https://www.instagram.com/priyanshupk78/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
            </div>

            
        </div>
        
        
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/anurag24.jpg" alt=""></div>
                <div class="card-name">Anurag Gupta </div>
                <div class="card-about">Computer Science and Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/shreja24.jpg" alt=""></div>
                <div class="card-name">Shreya Pandey </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/kajal24.jpg" alt=""></div>
                <div class="card-name">Kajal Dubey  </div>
                <div class="card-about">Electrical Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/sakshi24.jpg" alt=""></div>
                <div class="card-name">Sakshi Mishra</div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/atul24.JPG" alt=""></div>
                <div class="card-name">Atul kesharwani</div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/ankita24.jpg" alt=""></div>
                <div class="card-name">Ankita Singh </div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/abhishek_bhardwaj24.jpg" alt=""></div>
                <div class="card-name">Abhishek bhardwaj </div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/rishabh24.jpg" alt=""></div>
                <div class="card-name">Rishabh Awasthi </div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/alok24.jpg" alt=""></div>
                <div class="card-name">Alok Ranjan Tripathi </div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/educators/vijay24.jpg" alt=""></div>
                <div class="card-name">Vijay Kumar Patel</div>
                <div class="card-about">Electronics Engineering</div>
                <div class="card-about">Currently in 2nd Year</div>
                <div class="card-socialmedia">
                    <a href="https://www.facebook.com/umeedrecsonbhadra/" target="_blank"><i class="id-icon  fa-brands fa-facebook-f" ></i></a>
                    <a href="https://www.instagram.com/umeed_recs/" target="_blank"><i class=" id-icon fa-brands fa-instagram" ></i></a>
                    <a href="https://www.youtube.com/@umeed3124" target="_blank"><i class=" id-icon fa-brands fa-youtube" ></i></a>
                    <a href="https://www.linkedin.com/company/recsonbhadraumeed/" target="_blank"><i class=" id-icon fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            
            
            
       
            
        
        
            
        </div>
    
    
    

    </div>
    




    
    
</div>



<%- include('partials/footer') -%>




