
<%- include('partials/header') -%>

<div class="educators-details">
    <div class="batch"><h3>2022-23</h3></div>
    <div class="teachers-collection">
        <div class="teachers-heading">
            <div class="teacher-card">
                <div class="card-photo"><img src="/photos/priyanshu_img.jpg" alt=""></div>
                <div class="card-name"><h2>Priyanshu Kushwaha</h2></div>
                <div class="card-about"><p>Computer Science and Engineering</p></div>
                <div class="card-about"><p>Currently in 3rd Year</p></div>
                <div class="card-socialmedia"></div>

                
            </div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
        <div class="teachers-heading">
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
            <div class="teacher-card"></div>
        </div>
    
    
    
</div>



<%- include('partials/footer') -%>




