<%- include('partials/header') -%>

<div class="main-exam">
    <div class="exam-heading">
        Exam
    </div>
    <div class="exam-box">
    <div class="exam-content">
        Notably, the educators in Umeed conducts monthly exams for every classes and we conduct continuous exams every week for Jawahar Navodaya Vidyalaya (JNV) students. Beyond academics, Umeed focuses on holistic development, organizing events and competitions. Volunteers also aid students in preparing for competitive exams, contributing to their overall growth. Umeed has witnessed significant growth, teaching 150 students, and envisions expanding its educational outreach to physically challenged students in the future.
    </div>
    <div class="exam-photos">
        <img src="/photos/exams/exam1.jpg" alt="">
        <img src="/photos/exams/exam2.jpg" alt="">
        
        <img src="/photos/exams/exam4.jpg" alt="">
        <img src="/photos/exams/exam5.jpg" alt="">
        <img src="/photos/exams/exam6.jpg" alt="">
        <img src="/photos/exams/exam7.jpg" alt="">
        <img src="/photos/exams/exam8.jpg" alt="">
        <img src="/photos/exams/exam9.jpg" alt="">
        <img src="/photos/exams/exam10.jpg" alt="">
        <img src="/photos/exams/exam11.jpg" alt="">
        <img src="/photos/exams/exam12.jpg" alt="">
        <img src="/photos/exams/exam13.jpg" alt="">
    </div>
    </div>



</div>

<%- include('partials/footer') -%>