<%- include('partials/header') -%>

<class class="gallery">
    <p>Gallery</p>

    <class class="gallerypictures">
        <img src="/photos/gallery/gallery0.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery1.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery2.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery3.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery4.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery5.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery6.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery7.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery8.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery9.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery10.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery11.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery12.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery13.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery14.jpg" alt="not available at the moment">
        <img src="/photos/gallery/gallery15.jpg" alt="not available at the moment">
        
    </class>

</class>






<%- include('partials/footer') -%>