<%- include('partials/header') -%>

<div class="home-style">

    <div class="home-message">
      <div class="home-message-inside">
      <div class="home-message-image"><img src="/photos/home3.jpg" alt=""></div>
       <div class="home-message-content">
        Umeed started in August 2017 by a couple of passionate students with an aim to provide education to the underprivileged and marginalized children living nearby the locality of REC Sonbhadra. The community conducts regular evening classes for students of class 1st to class 12th, about two hours where the emphasis is to provide education to them. 
       </div>
      </div>
       <div class="home-message-inside">
        
       <div class="home-message-content">
         Presently, these classes are being held in Ambedkar Bhavan near primary school, Musahi (Churk). Apart from providing basic education, volunteers also strive to inculcate some moral and social values in children, we also organizes arts and eassy competition for upliftment of our students , bringing a remarkable difference in the lives of others.
       </div>
       <div class="home-message-image"><img src="/photos/home2.jpg" alt=""></div>
       </div>

       <div class="home-message-inside">
        <div class="home-message-image"><img src="/photos/home1.jpg" alt=""></div>
         <div class="home-message-content">
          Embark on a wellness journey with our coaching that seamlessly integrates the tranquility of yoga and the excitement of diverse competitions. Elevate your mind, body, and spirit as you embrace holistic well-being and unleash your competitive edge. 
         </div>
        </div>
    </div>


    <div class="home-director">
        
        <div class="home-director-details">
            <div class="home-director-details-name">Dr Ravi Prakash Tripathi</div>
            <div class="home-director-details-post">Director of Umeed</div>
            <div class="home-director-details-college-post">HOD of Minning Engineering In Rajkiya Engineering College Sonbhadra</div>
            <div class="home-director-details-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/umeed_recs/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@umeed3124"><i class="fa-brands fa-youtube"></i></a>
                
            </div>
        </div>
        <div class="home-director-image">
          <img src="/photos/director.jpg" alt="Wait inloading....">

      </div>
    </div>
    <div class="home-founder">
        <div class="home-founder-image">
            <img src="/photos/founder.png" alt="Wait inloading....">

        </div>
        <div class="home-founder-details">
            <div class="home-founder-details-name">Er Ajit Kushwaha</div>
            <div class="home-founder-details-post">Founder of Umeed</div>
            <div class="home-founder-details-college-post">Alumni of REC Sonbhadra</div>
            <div class="home-founder-details-socialmedia">
                <a href="https://www.facebook.com/umeedrecsonbhadra/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/umeed_recs/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@umeed3124"><i class="fa-brands fa-youtube"></i></a>
                
            </div>
        </div>
    </div>
</div>


<div class="home-slide-images">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/photos/home_image_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/photos/home_image_2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/photos/home_image_3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/photos/home_image_4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>


<%- include('partials/footer') -%>