<%- include('partials/header') -%>

<div class="main-library">
    <div class="library-heading">
        Library
    </div>


    <div class="library-box">
        <div class="library-content">
            Umeed Coaching Institution's newly introduced library is a treasure trove comprising books and notes tailored for classes 9th to 12th. In addition, it includes valuable resources specifically designed for JEE Mains and Polytechnic exam preparations. This modest yet comprehensive library enhances our commitment to academic excellence, providing students with a diverse range of materials to support their learning journey.
        </div>
        

        <div class="offline-lib-content">
            <p> Offline Oasis: Umeed's Physical Library  </p>

            Dive into a tranquil space where the aroma of books fills the air. Our offline library offers a serene haven for students seeking immersive learning and focused study sessions.
        </div>





        <div class="online-lib-content">
            <p>Digital Enlightenment: Umeed's Online Library</p> 

            Embark on a virtual journey of knowledge exploration. Umeed's online library provides a dynamic platform for students to access a vast array of educational resources from the comfort of their homes.
        </div>

        
        
        <button type="button" class="onlineeachclass"> class 9th</button>
        
        <div class="bookbox">
            
            
            
            <a href="https://drive.google.com/file/d/1j9wUU5Dz0O_iqtgIKoHhGHXkujnwvY4g/view" target="_blank"><div class="ninethbookinside">Science</div></a>
            <a href="https://drive.google.com/file/d/1gwIt1TkRaspiWD6YxyjqV5c6rcnBu3_A/view" target="_blank"><div class="ninethbookinside">Maths</div></a>
            <a href="https://drive.google.com/drive/folders/118LJ1gOjUQouMiR-mOYCe4kG0Z0_ObH_" target="_blank" ><div class="ninethbookinside">English</div></a>
            <a href="https://drive.google.com/drive/folders/1pDSb3JHAimfv-r6Z49_C7tzKJ0tL7w6j" target="_blank" ><div class="ninethbookinside">Social Science</div></a>
            <a href="https://drive.google.com/drive/folders/1pDSb3JHAimfv-r6Z49_C7tzKJ0tL7w6j" target="_blank" ><div class="ninethbookinside">Hindi</div></a>
            
            
        </div>
        

        <button type="button" class="onlineeachclass"> class 10th</button>
        <div class="bookbox">
            <a href="https://drive.google.com/file/d/1h12oY7vXEyyvMx6Z_MGfFI_iWwWRVzXY/view" target="_blank"><div class="tenthbookinside">Science</div></a>
            <a href="https://drive.google.com/file/d/1h1Pnd2-79cPy-4D7C46jwCrJb5FvDcYO/view" target="_blank"><div class="tenthbookinside">Maths</div></a>
            <a href="https://drive.google.com/drive/folders/1p5C_r6Z3I8aiSK4Lhsm0z112r1jRe8q7" target="_blank"><div class="tenthbookinside">English</div></a>
            <a href="https://drive.google.com/drive/folders/1p-CRbmHTiakxBnWmUjOKCs3yIMbaZ-QE" target="_blank"><div class="tenthbookinside">Social Science</div></a>
            <a href="https://drive.google.com/drive/folders/1omYPVQhBzBIAGudIiNMgog_F9Z1lYNOP" target="_blank"><div class="tenthbookinside">Hindi</div></a>
            
            
            
        </div>

        <button type="button" class="onlineeachclass"> class 11th</button>
        <div class="bookbox">
            <a href="https://drive.google.com/drive/folders/113apMTDiQj4DmQ1RO9AKlYUx2WK0AcKt" target="_blank"><div class="eleventhbookinside">Physics</div></a>
            <a href="https://drive.google.com/drive/folders/1166XqH8mA3I0E6K7o9mKb8SEpBi0y9d1" target="_blank"><div class="eleventhbookinside">Chemistry</div></a>
            <a href="https://drive.google.com/file/d/1hNzF_wVKp-K0guQjLq_vho9yZQlPI0jA/view" target="_blank"><div class="eleventhbookinside">Biology</div></a>
            <a href="https://drive.google.com/drive/folders/11-zPGEfwvrbyjwZ8ANkZdR6030SB_CB7" target="_blank"><div class="eleventhbookinside">English</div></a>
            <a href="https://drive.google.com/drive/folders/1y6pbILMSXGr-2z2JN6I9-Cr0WzwcEA2i" target="_blank"><div class="eleventhbookinside">Hindi</div></a>
            <a href="https://drive.google.com/file/d/1xVnChQq1FYlJEdxa8cjfrB2pqUHhRBN4/view" target="_blank"><div class="eleventhbookinside">Maths</div></a>
            
            
        </div>

        <button type="button" class="onlineeachclass"> class 12th</button>
        <div class="bookbox">
            <a href="https://drive.google.com/drive/folders/1y7i0aErmBeJJY6U1DVhKXWQITzIzAmzH" target="_blank"><div class="twelthhbookinside">Physics</div></a>
            <a href="https://drive.google.com/drive/folders/1yBT5z3lznwgJTiEjNvBuWqX0F8KjLcog" target="_blank"><div class="twelthhbookinside">Chemistry</div></a>
            <a href="https://drive.google.com/file/d/1xIqdyuS_kQ-37hWlU8jtb_zQWisfxHI0/view" target="_blank"><div class="twelthhbookinside">Biology</div></a>
            <a href="https://drive.google.com/drive/folders/1yCGt4tYWfurb7d9IiBEo_pwgOvIh8ZHJ" target="_blank"><div class="twelthhbookinside">English</div></a>
            <a href="https://drive.google.com/drive/folders/1y7bm8P_oT4fEhfeMglTlpRs4ma2k-1aX" target="_blank"><div class="twelthhbookinside">Hindi</div></a>
            <a href="https://drive.google.com/drive/folders/1yOUjo8oNu0qiT58-gF2fvJv8PjdfrxGN" target="_blank"><div class="twelthhbookinside">Maths</div></a>
            
            
        </div>

    </div>
</div>



<%- include('partials/footer') -%>