<%- include('partials/header') -%>
<div class="resulttext">Result</div>
<class class="resultbox">
    <img src="/photos/result/result1.jpg" alt="">
    <img src="/photos/result/result2.jpeg" alt="">
    <img src="/photos/result/result3.jpg" alt="">
    <img src="/photos/result/result4.jpg" alt="">
    <img src="/photos/result/result5.jpg" alt="">
    <img src="/photos/result/result6.jpg" alt="">
    <img src="/photos/result/result7.jpeg" alt="">
</class>



<%- include('partials/footer') -%>