<%- include('partials/header') -%>

<div class="main-sport ">
    <div class="sport-heading">
        Sport 
    </div>
    <div class="sports-box">
    <div class="sport-content">
        Umeed Coaching Institution prioritizes holistic development by integrating sports into its curriculum. Organizing sports events every six months, the institution fosters athletic prowess, teamwork, and sportsmanship. These diverse events, including athletics, football, and cricket, contribute to students' physical fitness and character-building. Umeed promotes an inclusive environment, engaging the community in cheering for young athletes. The celebration of achievements underscores the institution's commitment to recognizing efforts and sportsmanship. Umeed envisions its sports program as a means to produce well-rounded individuals, combining academic excellence with qualities essential for future leadership and success in all aspects of life.
    </div>

    <div class="sports-img">
        <img src="/photos/sports/sports1.jpeg" alt="">
        <img src="/photos/sports/sports2.jpeg" alt="">
        <img src="/photos/sports/sports3.jpeg" alt="">
        <img src="/photos/sports/sports4.jpeg" alt="">
        <img src="/photos/sports/sports5.jpeg" alt="">
        <img src="/photos/sports/sports6.jpeg" alt="">
        <img src="/photos/sports/sports7.jpeg" alt="">
        <img src="/photos/sports/sports8.jpeg" alt="">
        <img src="/photos/sports/sports9.jpeg" alt="">
        <img src="/photos/sports/sports10.jpeg" alt="">
        <img src="/photos/sports/sports11.jpeg" alt="">
        <img src="/photos/sports/sports12.jpeg" alt="">
        <img src="/photos/sports/sports13.jpeg" alt="">
        <img src="/photos/sports/sports14.jpeg" alt="">
        <img src="/photos/sports/sports15.jpg" alt="">
        
    </div>
    </div>
</div>



<%- include('partials/footer') -%>