<%- include('partials/header') -%>

<div class="main-support">
    <div class="support-heading">
        Support
    </div>

    <div class="faculty-support">
        <p>College Faculty Support</p>
        Umeed is fortunate to have steadfast support from the esteemed faculty at REC Sonbhadra. The collaboration with college faculty members plays a pivotal role in the success of our educational initiatives. Their guidance and expertise contribute significantly to the development and sustainability of Umeed. The faculty's commitment to our cause underscores the shared belief in the transformative power of education. Together, we strive to create an inclusive and nurturing learning environment for underprivileged children, fostering a community where knowledge is a catalyst for positive change.



    </div>

    <div class="guardian-support">
        <p>Guardian Support</p>
        Umeed acknowledges and appreciates the vital role played by guardians in the educational journey of our students. The unwavering support from parents and guardians is invaluable as they actively participate in and encourage their children's pursuit of knowledge. This collaborative effort strengthens the educational foundation laid by Umeed, creating a network of support that extends beyond the classroom. The involvement of guardians is a testament to the shared commitment to breaking barriers and providing quality education to every child, ensuring a brighter future for the entire community.
    </div>


    <div class="support-img">
        <img src="/photos/support/fac-sup4.jpg" alt="">
        <img src="/photos/support/fac-sup1.jpg" alt="">
        <img src="/photos/support/fac-sup2.jpg" alt="">
        <img src="/photos/support/fac-sup3.jpg" alt="">
        <img src="/photos/support/guar-sup.jpg" alt="">
        <img src="/photos/support/guar-sup2.jpg" alt="">
        
    </div>
</div>

<%- include('partials/footer') -%>