<%- include('partials/header') -%>


<div class="currenttimetablebody">
    <div class="currenttimetableheading">
        Current time table in Umeed
    </div>
    <a href="https://drive.google.com/file/d/1D6LWiYqUr8nDsR8Fl54vnYtkQj8I5XmA/view?usp=sharing" target="_blank"><button class="currenttimetablebutton">Click here to see or Download</button></a>
</div>



<%- include('partials/footer') -%>